.poster{
    width: 300px;
    display: block;
    margin: auto;
    box-shadow: 10px 15px 15px #888888;
}

h1{
    text-align: center;
    background-image: linear-gradient(103deg,#f74530,#ff2e73);
    padding: 15px;
    box-shadow: 5px 10px 10px #aba8a8;
    border-radius: 10px;
    margin-bottom: 30px;
    color: white;
    font-weight: 100;
    font-family: sans-serif;
}