.App {
  text-align: center;
  background-color: #f7f7f7;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.movie-finder{
  width: 50vw;
  display: grid;
  margin: 2em auto;
}

/* .search{
  padding: 1em;
  background-color: cadetblue;
  border-radius: 5px;
} */
